## Importing libraries

In [245]:
#Importing Libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing DataSet

In [246]:
#Importing dataset
df = pd.read_csv('/content/Cardetails.csv')
df = pd.DataFrame(df)

## Exploratory Data Analysis

In [247]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [248]:
df.drop('torque',axis = 1 ,inplace = True)

In [249]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 762.1+ KB

In [251]:
# Check for missing values.
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [252]:
# Handling missing values.
df.dropna(inplace = True) # Removing the missing value records from dataFrame.

In [253]:
df.isnull().sum() # Now there are no missing values in the dataFrame.

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7907 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7907 non-null   object
 1   year           7907 non-null   int64
 2   selling_price  7907 non-null   int64
 3   km_driven      7907 non-null   int64
 4   fuel           7907 non-null   object
 5   seller_type    7907 non-null   object
 6   transmission   7907 non-null   object
 7   owner          7907 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7907 non-null   object
 11  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 803.1+ KB

In [255]:
# Checking size of the dataFrame.
df.shape

(7907, 12)

In [256]:
# Check for duplicate records.
df.duplicated().sum()

1189

In [257]:
df.drop_duplicates(inplace = True) # Removing the duplicate records from dataFrame.

In [258]:
# Checking size of the dataFrame after removing duplicates.
df.shape

(6718, 12)

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
 11  seats          6718 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 682.3+ KB

In [260]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [261]:
# Get brand name from the car name.
def get_brand_name(car_name):
  car_name = car_name.split(' ')[0]
  return car_name.strip()

In [262]:
def clean_data(value):
  value = value.split(' ')[0]
  value = value.strip()
  if value == '':
    value = 0
  return float(value)

In [263]:
get_brand_name('Maruti Suzuki Swift')

'Maruti'

In [264]:
# Apply the function to entire records to get brand name.
df['name'] = df['name'].apply(get_brand_name)

In [265]:
df['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [266]:
# Apply the function to entire records to specified value from the given string.
df['mileage'] = df['mileage'].apply(clean_data)
df['engine'] = df['engine'].apply(clean_data)
df['max_power'] = df['max_power'].apply(clean_data)

In [267]:
df.head() # now we have removed the string from all the features in the dataFrame.

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0

In [268]:
# Number of fuel types,seller_type,Transmission,owner.
for col in ['fuel','seller_type','transmission','owner']:
  print(f'{col} : {df[col].unique()}')

fuel : ['Diesel' 'Petrol' 'LPG' 'CNG']
seller_type : ['Individual' 'Dealer' 'Trustmark Dealer']
transmission : ['Manual' 'Automatic']
owner : ['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']

In [269]:
'''# Encoding cat variables into numerical variables.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['name'] = le.fit_transform(df['name'])
df['owner'] = le.fit_transform(df['owner'])
df['fuel'] = le.fit_transform(df['fuel'])
df['seller_type'] = le.fit_transform(df['seller_type'])
df['transmission'] = le.fit_transform(df['transmission'])'''

"# Encoding cat variables into numerical variables.\nfrom sklearn.preprocessing import LabelEncoder\nle = LabelEncoder()\ndf['name'] = le.fit_transform(df['name'])\ndf['owner'] = le.fit_transform(df['owner'])\ndf['fuel'] = le.fit_transform(df['fuel'])\ndf['seller_type'] = le.fit_transform(df['seller_type'])\ndf['transmission'] = le.fit_transform(df['transmission'])"

In [270]:
#df.head() # Cat variables has been encoded.

In [271]:
#df.info()

In [272]:
# Resetting the index.
df.reset_index(inplace = True)

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          6718 non-null   int64
 1   name           6718 non-null   object
 2   year           6718 non-null   int64
 3   selling_price  6718 non-null   int64
 4   km_driven      6718 non-null   int64
 5   fuel           6718 non-null   object
 6   seller_type    6718 non-null   object
 7   transmission   6718 non-null   object
 8   owner          6718 non-null   object
 9   mileage        6718 non-null   float64
 10  engine         6718 non-null   float64
 11  max_power      6718 non-null   float64
 12  seats          6718 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 682.4+ KB

In [274]:
df.drop(columns = ['index'],inplace = True)

In [275]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6713,Maruti,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0
6714,Hyundai,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0
6715,Hyundai,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
6716,Hyundai,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
6717,Maruti,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0

In [276]:
# Loop over each column and remove outliers
def remove_outliers(df):
    for column in df.select_dtypes(include=['float64', 'int64']).columns:  # Select only numeric columns
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1

        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Filter the data to remove outliers
        df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

    return df

# Apply the function
df = remove_outliers(df)

## Feature Scaling

In [277]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [278]:
'''from sklearn.preprocessing import MinMaxScaler
import pandas as pd # Import pandas

sc = MinMaxScaler()
# Keep a copy of the original DataFrame
df1 = df.copy()
df = sc.fit_transform(df)

# Convert the scaled NumPy array back to a DataFrame
df = pd.DataFrame(df, columns=df1.columns) # Use original columns'''
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from sklearn.pipeline import Pipeline

# Define categorical and numerical columns
categorical_cols = ['name', 'owner', 'fuel', 'seller_type', 'transmission']
numerical_cols = ['year', 'km_driven', 'mileage', 'engine', 'max_power', 'seats']

# Create a pipeline for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), categorical_cols),
        ('num', MinMaxScaler(), numerical_cols)
    ])
params = {
    "n_estimators": 300,
    "max_depth": None,
    "max_features": 'sqrt'
}

# Create the final pipeline by adding a model (RandomForest in this case)
model_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(**params))
])

In [279]:
df.to_csv('Cleaned_Cardetails.csv')

## Train Test Split

In [280]:
# dependent and independent features
X = df[categorical_cols + numerical_cols]
y = df['selling_price']
X.shape,y.shape

((4661, 11), (4661,))

In [281]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.10,random_state = 42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((4194, 11), (467, 11), (4194,), (467,))

In [282]:
'''# Model Training
rf = RandomForestRegressor(n_estimators=500,max_depth=10)
rf.fit(X_train,y_train)
prediction = rf.predict(X_test)'''
# Train the model using the pipeline
model_pipeline.fit(X_train, y_train)

# Predicting on the test set
y_pred = model_pipeline.predict(X_test)
print(np.round(y_pred,3))

[ 422614.463  611713.214  404562.93   298102.865  158252.216  347142.216
  301150.552  344614.997  104417.92   218223.962  332206.667  203736.663
  580676.633  131597.222  217760.873  213046.451  786774.441  346283.882
  198991.754  626576.389  389502.212  394501.663  467945.515  219449.98
  647548.333  482039.923  291719.134  678936.653  292873.293   65994.72
  676338.889  465261.04   692925.556  336321.667  242884.993  295906.111
  142237.222  709839.99   584822.222  258919.163  319076.356  407476.613
  376400.546  367441.61   667907.758  217233.31   412761.054  354240.132
  499812.702  187249.973  310923.333  115147.101  393299.767  503866.64
  118798.197  296264.222  331114.005  183009.754  417682.483  144837.774
  254608.213  449561.878  383576.63   155939.997  280938.89   340124.709
  741573.093  495115.236  175015.546  323620.792  167876.667  600156.663
  339518.852  292843.24   361173.233  129205.66   128761.831  275192.219
  178774.953  306659.933  501515.947  283801.667  246173.327  748987.199
  593093.333  330108.029  114665.198   91365.857  998640.     355929.987
  627300.     482151.918  843023.313  350489.267  253478.33   313605.552
  382424.723  400721.647  836063.867  126288.261  840498.889  898949.95
  559530.267  228459.56   502502.254  539400.372  688596.984  292666.65
  141425.556  246707.319  118523.337  773506.66    89832.222  209511.101
  471254.98   136871.653  253589.927  279056.093  340557.778  261199.163
  387606.637  616700.637  601268.836  114024.333  404962.93   339749.111
  186533.228  514815.512  483058.698  207223.33   187031.082  611356.667
  158139.826  202724.318  269479.127  292070.833  616913.73   927980.841
  203408.568  111322.693  320451.657  684300.     569613.32   151637.729
  416575.809  256359.97   317530.541  764028.948  173001.944  697120.
  512883.128  541187.187  138332.771  587134.716  591775.076  537138.403
 1074508.333   98783.333   92128.332  211833.33   587813.872  148891.386
  574432.192  521353.31   252776.657  384269.173  107805.556  579593.012
  304829.167  345428.889  478296.657  244712.179  324666.667  290223.333
  709039.367  260971.662  704124.99   237599.987  821737.821  235434.408
   89689.997  642698.31   973761.706  755193.333  393103.29   638592.751
  171789.402  575646.66   652628.333  111195.     516806.657  373909.993
  759065.     218012.106  360506.667  545685.556  862283.277   98853.33
  195126.65   268813.546  375509.827  533426.665  161356.643  297143.889
  637350.     237061.104  281949.58   324202.219  677953.287  393712.763
  380095.532  454782.651  347365.546  253158.729  174271.379  598137.837
  311628.     569285.55   157557.52   398127.83   632103.333  259873.323
  233643.303  149085.873  123233.333  168438.866  559953.056  168898.876
  443989.997  619287.262  163826.757  270476.653  151098.323  288136.663
  220571.091  611812.222  304379.997  918499.987  448906.876  702843.3
  708582.478  306247.817  614493.167  232833.333  138655.882  503717.152
  112820.556  584666.667  214403.146  175834.65   290789.16   321650.
  391419.404  274621.084  550403.323   56425.003  548610.     522481.225
  561423.608  147096.663  347906.53   292749.987  415348.988  533369.992
  173743.333  136494.433  261134.238  204346.66   331412.767  463789.867
  478846.101  512379.997  827323.317  348713.32   210229.442  632972.497
  456031.028  432006.647  567968.336  316580.     671964.764  351423.869
  134740.     388757.774  259494.371  179743.323  176477.594  578423.33
  418996.373  426006.41   194433.277  199639.783  486494.87   117308.466
  297651.617  394766.667  433835.717  366936.667  399230.942  395558.333
  272820.764  875947.774  451964.573   77237.339  318459.421  474277.744
  688832.222  280588.235  483489.98   355468.856  242431.776  309067.706
  622057.443  418664.16   284368.564  285425.526  815665.549  276811.657
  246806.623  232022.206  382683.802  534589.722  250101.108  234910.
  213244.762  474351.832  303049.995  119858.297  594166.65   337273.889
  443339.401  320955.552  880579.933  285175.556  178211.703  401658.387
  393333.33   144806.667  342076.633  197968.327  239516.657  114933.33
  313110.53   168186.643  510224.439 1027243.327  552657.907  474446.647
  237572.722  248399.993  655066.66   393600.8    495559.213  300220.536
  449187.552  238298.882  482162.302  393092.674  155166.663  363740.357
  823954.93   673085.519  300189.163  947037.774  388750.     415353.24
  426006.41   313733.273  642539.279  302303.571  540006.65   272433.13
  440224.997  643409.983  325923.002  334699.951  704124.778  500801.327
  626576.389  402200.511  222785.406  245902.77   712320.395  308024.286
  498216.55   587896.56   157949.937  631551.944   83540.36   269873.33
  485736.49   727255.79   222303.333  291659.539  682716.667  215847.064
  274123.351  277510.931  577853.333  312723.333  544014.163  307217.219
  170541.108  488173.489  486011.058  350744.99   612166.941  172673.399
  472500.271  317390.33   170594.371   87493.33   235943.313  201219.977
  622375.516  191102.5    264724.401  754635.505  179224.967  564585.379
  171218.228  217701.891  191725.486  608880.     199857.447  228436.667
  148239.997  332240.     947424.977  496996.013  701764.428  606370.958
  422819.923  200178.449  905399.997  623386.66   555204.064  871203.33
  149491.433  125947.088  232951.835  186999.957  535655.462  703586.667
  377553.333  695633.823  234459.943  597380.668  332595.552  168096.429
  691148.778  600059.98   408094.166  207418.313  552777.776  813616.389
  677504.669  327749.993  249966.653  189513.327  468961.207  490550.499
  499596.607  720352.262  182118.69   678263.333  394477.937]

In [283]:
# Checking performance of the model
r2 = r2_score(y_test,y_pred)
print('R2 score :',round(r2*100,3))

R2 score : 89.375

In [284]:
import joblib

# Save the model.
joblib.dump(model_pipeline,'car_model_compressed.joblib')

['car_model.joblib']

In [285]:
# installing streamlit.
!pip install streamlit

Requirement already satisfied: streamlit in /usr/local/lib/python3.10/dist-packages (1.39.0)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.2.2)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/lib/python3/dist-packages (from streamlit) (1.4)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in /usr/local/lib/python3.10/dist-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.10/dist-packages (from streamlit) (24.1)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (13.9.1)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /usr/local/lib/python3.10/dist-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.10/dist-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.10/dist-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.10/dist-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog<6,>=2.1.5 in /usr/local/lib/python3.10/dist-packages (from streamlit) (5.0.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair<6,>=4.0->streamlit) (0.12.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1.4.0->streamlit) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->streamlit) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.20.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)

In [286]:
# writting to a file.
%%writefile app.py

import streamlit as st
import joblib
import pandas as pd
import numpy as np

# Load the trained model
model = joblib.load('car_model.joblib')

def predict_price(features):
  # convert input dictionary to dataframe
  input_data = pd.DataFrame([features])

  # Make predictions using the loaded model
  prediction = model.predict(input_data)

  return prediction[0]

def main():
  st.title('Car Price Prediction')
  st.write('Enter the car details to predict its price')

  # input fields

  name = st.selectbox('Name',['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'])
  year = st.slider('Year',min_value=1990,max_value=2024,step=1)
  km_driven = st.number_input('Kilometers Driven',min_value=0,step=100)
  fuel = st.selectbox('Fuel Type',['Diesel','Petrol','LPG','CNG'])
  seller_type = st.selectbox('Seller Type',['Individual','Dealer','Trustmark Dealer'])
  transmission = st.selectbox('Transmission',['Manual','Automatic'])
  owner = st.selectbox('Owner', ['First Owner','Second Owner','Third Owner','Fourth & Above Owner','Test Drive Car'])
  mileage = st.number_input('Mileage',min_value=0.0,step=0.1)
  engine = st.number_input('Engine CC',min_value=0,step=100)
  max_power = st.number_input('Max Power',min_value=0.0,step=0.1)
  seats = st.number_input('Seats',min_value=1,step=1)

  # create dictionary from user inputs
  features = {
      'name' : name,
      'year' : year,
      'km_driven' : km_driven,
      'fuel' : fuel,
      'seller_type' : seller_type,
      'transmission' : transmission,
      'owner' : owner,
      'mileage' : mileage,
      'engine' : engine,
      'max_power' : max_power,
      'seats' : seats
  }

  # predict car price
  if st.button('Predict'):
    price = predict_price(features)
    st.success(f'The predicted price of the car is : Rs {price:.3f}')

if __name__ == '__main__':
  main()

Overwriting app.py

In [287]:
!wget -q -O - ipv4.icanhazip.com
! streamlit run app.py & npx localtunnel --port 8501

34.170.160.25

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.


  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://34.170.160.25:8501

your url is: https://silver-jeans-rhyme.loca.lt
  Stopping...
^C